.star-rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #7f0000;
}

.star-rating input[type="radio"]:checked + label,
.star-rating input[type="radio"]:checked + label ~ label {
    color: #7f0000;
}